:root{
  --primary-color:#1a1a1a;
  --secondary-color:#242424;
  --special-color:#E0FF00;
  --text-color:#949494;
  --title-color:#fff;
}
*,*:after,*::before{
  box-sizing:border-box;
}
html{
  box-sizing:border-box;
  font-size:62.5%;
}
body{
  min-height:100vh;
  background-color:var(--primary-color);
  color:#fff;
  box-sizing:border-box;
  line-height:1.5;
}
section{
  margin:auto;
  width:calc(100% - 1.5rem);
  max-width:120rem;
}
footer{
  position: absolute;
  bottom:0;
  background-color:var(--secondary-color);
  padding:1.5rem 0;
  text-align:center;
  width:100%;
  font-size:1.5rem;
}
h1{
  font-size:4rem;
}
p{
  font-size:1.5rem;
}
